<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gia Events</title>
    <link rel="stylesheet" href="/static/giaevents.css">
    <link rel="stylesheet" href="/static/aranjamente.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>

  <body style="background-color: black;">
    
      <nav class="nav justify-content-center" style="background-color: #f9f1f9;">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-telephone"></i></a>
            <li class="nav-item">
              <a class="nav-link" href="#">0723 099 562</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-envelope"></i></a>
            <li class="nav-item">
              <a class="nav-link" href="#">giaeventss@gmail.com</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/giaflowersandgifts/"><i class="bi bi-facebook"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/gia.flower/"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
      </nav>

      <img src="/static/gia.jpg" alt="" class="center" width="100%" height="auto">

      <nav class="nav justify-content-center" style="background-color: #f9f1f9;">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="/">Acasa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/evenimente">Evenimente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aranjamente">Aranjamente Florale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
      <br>
      <div class="container">
        <h1 id="title">Ne jucăm cu flori și creăm povești!</h1>
        <h5 id="paragraf">Mai jos poți vizualiza doar câteva dintre aranjamentele noastre. La noi găsești o gamă largă de flori naturale, din material textil sau săpun. 
          Contactează-ne și îți vom crea buchetul exact cum ți-l dorești, in functie de bugetul tau!</h5>
        <h5 id="paragraf">Imaginile sunt cu titlu informativ!</h5>
      </div>
      
      
      
        <table id="menu">
          <tr>
            <td><a href="/static/1.jpg"><img src="/static/1.jpg" alt=""></a></td>
            <td><a href="/static/2.jpg"><img src="/static/2.jpg" alt=""></a></td>
            <td><a href="/static/3.jpg"><img src="/static/3.jpg" alt=""></a></td>
            <td><a href="/static/4.jpg"><img src="/static/4.jpg" alt=""></a></td>
          </tr>
          <tr>
            <td><a href="/static/5.jpg"><img src="/static/5.jpg" alt=""></a></td>
            <td><a href="/static/6.jpg"><img src="/static/6.jpg" alt=""></a></td>
            <td><a href="/static/7.jpg"><img src="/static/7.jpg" alt=""></a></td>
            <td><a href="/static/8.jpg"><img src="/static/8.jpg" alt=""></a></td>
            </tr>
        </table>
  


      <br>
      <br>
      <div class="container">
        <p id="paragraf">Florăria Gia Events- flori cu livrare gratuită la domiciliu în Focșani
          Întreprindere socială S.C. Gia Flower Events S.C. Gia Flower Events S.R.L, Registrul comerțului J39/327/24.03.2021, C.U.I 43980129, punct de lucru: Focșani, Str. Măgura, nr 66. Tel: 0723099562/0760730530</p>
      </div>
  </body>
</html>