<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gia Events</title>
    <link rel="stylesheet" href="/static/giaevents.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>

  <body style="background-color: black;">
    
      <nav class="nav justify-content-center" style="background-color: #f9f1f9;">
          <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-telephone"></i></a>
            <li class="nav-item">
              <a class="nav-link" href="#">0723 099 562</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="bi bi-envelope"></i></a>
            <li class="nav-item">
              <a class="nav-link" href="#">giaeventss@gmail.com</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/giaflowersandgifts/"><i class="bi bi-facebook"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/gia.flower/"><i class="bi bi-instagram"></i></a>
            </li>
          </ul>
    </nav>

      <img src="/static/gia.jpg" alt="" class="center" width="100%" height="auto">

      <nav class="nav justify-content-center" style="background-color: #f9f1f9;">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="/">Acasa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/evenimente">Evenimente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aranjamente">Aranjamente Florale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    
      <br>
      <div class="container">
        <h1 id="text">Ne jucăm cu florile și creăm povești!</h1>
        <br>
        <h3 id="title">De ce Gia Events?</h3>
        <h5 id="paragraf">Gia Events este locul în care florile prind viață și fac parte din povestea ta. Povestea unui „DA” ce marchează un nou început, povestea unui prim te iubesc, ori povestea unui mi-a fost dor. Trebuie doar să ne vizitezi și împreună vom creea povestea pe care ți-o dorești. </h5>
        <br>
        <h3 id="title">Ce oferim?</h3>
        <h5 id="paragraf">În floraria noastră vei găsi zilnic o varietate de aranjamente din flori naturale și artificiale sau îți poți personaliza buchetul exact cum îți dorești. Garantăm calitatea acestora indiferent de modelul ales.</h5>
        <h5 id="paragraf">Dacă se apropie unul din cele mai importante momente din viața ta,cum ar fi nunta, botezul, majoratul sau orice alt eveniment cu o încărcătură puternică, lasă-ne să ne ocupăm de decor și îți promitem o atmosferă de basm. De la arcade cu flori/baloane, copaci înfloriți, pian decorativ, leagăn cu flori, panouri cu flori, băncuțe, până la cele mai mici detalii precum lumânări, buchete de mireasă, coronițe pentru domnișoare de onoare, aranjamente de cristelnița sau cocarde, ne ocupăm de tot.</h5>
        <h5 id="paragraf">Serviciul cadoul la distanță te aduce mai aproape sufletește de persoanele iubite din țară. Lasă-ne comandă și noi te ajutăm să pui un zâmbet pe chipul celor dragi fără ca distanța să vă mai despartă!</h5>
        <h3 id="title">Cine suntem noi?</h3>
        <h5 id="paragraf">Gia Events nu este doar despre flori. Este locul în care bunul gust se îmbină cu binefacerea și bunătatea. Fiind o întreprindere socială, trebuie să știi că 90% din profitul anual este donat către cazuri sociale din Focșani. Noi organizăm evenimente care să bucure sufletele unor copii a căror destine nu au fost deloc prietenoase. Rămâi aproape de noi și fă posibilă organizarea unor evenimente pentru copii din grupuri vulnerabile în mod gratuit, inițierea unor programe practice în arta aranjării florilor pentru copii ce aparțin grupurilor defavorizate și organizarea unor campanii de donații pentru persoanele din grupurile vulnerabile. Considerăm că oamenii sunt ca și florile: îngrijite și udate înfloresc și aduc bucurie. Iar noi asta facem, înflorim sufletele pure ale unor copii loviți de greutățile vieții mult prea devreme. </h5>
      </div>
      <br>
      <br>

      <img id="imgflorarie" src="/static/florarie.jpg">

      <div class="container">
        <p id="paragraf">Florăria Gia Events- flori cu livrare gratuită la domiciliu în Focșani
          Întreprindere socială S.C. Gia Flower Events S.C. Gia Flower Events S.R.L, Registrul comerțului J39/327/24.03.2021, C.U.I 43980129, punct de lucru: Focșani, Str. Măgura, nr 66. Tel: 0723099562/0760730530</p>
      </div>


  </body>
</html>
